nav {
    background-color: #00000090;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px 15px;
    position: sticky;
    font-size: 30px;
    text-align: center;
    margin: 10px 30px;   
    text-shadow: 0 0 10px black ; 
}
#menu {
    padding: 7px;
    border: 3px;
    text-align: center;
    border-bottom: solid 2px whitesmoke;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    text-align: center;
}
nav li {
    flex: 1 0 auto;
    border-bottom: solid 2px whitesmoke;
}
nav a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 5px 5px;
}
nav li:hover {
    background-color:  #00000083;
    color: rgb(192, 192, 192);
}

body {
    background-image: url("afb/body.jpg");
    background-repeat: no-repeat;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #AC8C76;
}
#info{
    background-color: #00000090;
    margin: 30px 20%;
    text-shadow: 0 0 10px black ;
    text-align: left;
}

#infokop{
    background-color: #00000090;
    margin: 30px 20%;
    text-shadow: 0 0 10px black ;
}

footer {
    background-color: #00000090;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin: 10px 30px;
}

#webxr {
    text-decoration: none;
    color: black;
    margin: auto;
    border: 10px solid black;
    text-align: center;
    display: block;
    overflow: auto;
}
#reviews{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 0 1%;
    list-style-type: none;
}
#extratext{
    background-color: #00000090;
    margin: 30px 20%;
    text-shadow: 0 0 10px black ;
}

