header {
    background-color: #00000078;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    padding: 15px;
    padding-left: 15px;
}

body {
    background-position: center;
    background-image: url("body.png");
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
#info{
    background-color: #00000078;
}

footer {
    background-color: #00000078;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}